<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <style>
        body{
            background-color: white;
            color: black;
            
        }

        .header{
            font-size: 20px;
            display: flex;
            justify-content: center;
            color: red;
        }
        .result{
           margin-top: 150px;
           display: flex;
           justify-content: center;
           color: black;
        }
    </style>
</head>
<body>

    <div class="header">
   <h1>&#128542; Sorry  &#128542;</h1>
</div>

    
<div class="result">
    {% if result %}
    <h1>
        {{result}}
    </h1>
        {% endif %}

    </div>


</body>
</html>